<div class="login-page_wrapper">
  <div class="title">Login</div>
  <div class="login-form">
    <form (ngSubmit)="onSubmit()" class="login-fields" name="loginForm" [formGroup]="loginForm">

      <div class="email-wrapper">
        <label for="email">Email</label>
        <input
          type="email"
          class="password-control"
          id="email"
          formControlName="email"
          required
          placeholder="user@example.com"
        />
      </div>

      <div class="password-wrapper">
        <label for="password">Password</label>
        <input
          id="password"
          formControlName="password"
          required
          type="{{isShowPassword? 'text': 'password'}}"
        />
        <button class="show-password_button" type="button" aria-label="Show Password" (click)="showPassword()">Show</button>
      </div>

      <div class="login-button">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
